.zdr-dl-count {
  color: #fff;
  line-height: 15px;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  padding: 5px;
  text-align: center;
  background-color: #157efb;
  position: absolute;
  display: block;
  top: 5px;
  right: 5px;
}
.zdr-dl-btn {
  position: relative;
}
